# Personal GitHub
Host github.com
    HostName github.com
    User git
    IdentityFile ~/.ssh/id_ed25519
    IdentitiesOnly yes

# Azure DevOps (Company)
Host azure
    HostName vs-ssh.visualstudio.com
    User roarinc
    IdentityFile ~/.ssh/id_rsa_azure
    IdentitiesOnly yes
